@page "{id?}"
@model Shop.Pages.Product.Index

<div class="card m-auto mt-4 p-4" style="max-width: 1000px;">
    <div class="row">
        <div class="align-items-center col-12 col-md-6 d-flex justify-content-center">
            <img alt="@Model.ProductModel.Name" class="image-highlight" height="300px" src="@Model.ProductModel.ImageUrl" width="400px"/>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
            <h2>@Model.ProductModel.Name</h2>
            <p class="mb-0">@Model.ProductModel.Description</p>
            <hr class="mb-4"/>
            <div class="d-flex flex-column gap-3">
                <div class="align-items-center d-flex gap-1">
                    <span class="material-symbols material-symbols-fill" style="font-size: 28px">
                        category
                    </span>
                    @Html.DisplayNameFor(model => model.ProductModel.Categories):
                    @foreach (var category in Model.ProductModel.Categories) {
                        <a asp-page="/Category/Index" asp-route-id="@category.Id">@category.Name، </a>
                    }
                </div>
                <div class="align-items-center d-flex gap-1">
                    <span class="material-symbols material-symbols-fill" style="font-size: 28px">
                        package_2
                    </span>
                    @Html.DisplayNameFor(model => model.ProductModel.StockQuantity):
                    @if (Model.ProductModel.StockQuantity < 10) {
                        <span class="text-danger">فقط @Model.ProductModel.StockQuantity عدد باقی‌مانده است</span>
                    }
                    else {
                        @Html.DisplayFor(model => model.ProductModel.StockQuantity)
                    }
                </div>
                <div class="align-items-center d-flex gap-1">
                    <span class="material-symbols material-symbols-fill" style="font-size: 28px">
                        scale
                    </span>
                    @Html.DisplayNameFor(model => model.ProductModel.ProductWeight):
                    @Html.DisplayFor(model => model.ProductModel.ProductWeight)
                </div>
            </div>
        </div>
    </div>
    <div class="align-items-center d-flex flex-column gap-2 mt-5">
        <span style="color: #428bca; font-size: 1.2rem">@Model.ProductModel.Price تومان</span>
        <button class="btn btn-primary d-flex gap-2 justify-content-center m-auto" href="#">
            <span class="material-symbols material-symbols-fill">
                shopping_cart
            </span>
            <span>افزودن به سبد خرید</span>
        </button>
    </div>
</div>