@page
@model Shop.Areas.Admin.Pages.ContactUs.IndexModel

@{
    ViewData["Title"] = "پیام‌ها";
}

<div class="card card-info overflow-auto">
    <div class="card-header no-border">
        <h2 class="card-title text-center">پیام‌ها</h2>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Message)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Messages) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <form asp-route-id="@item.Id" method="post">
                            <a asp-page="./Details" asp-route-id="@item.Id">مشاهده پیام</a> |
                            <input class="btn btn-link p-0" type="submit" value="حذف"/>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>