@page
@model Shop.Areas.Admin.Pages.ContactUs.IndexModel

@{
    ViewData["Title"] = "پیام‌ها";
}

<div class="card card-info overflow-auto">
    <div class="card-header no-border">
        <h2 class="card-title text-center">پیام‌ها</h2>
    </div>

    <div class="card-body">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Message)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <form asp-route-id="@item.Id" method="post">
                            <a asp-page="./Details" asp-route-id="@item.Id">مشاهده پیام</a> |
                            <input class="btn btn-link p-0" type="submit" value="حذف"/>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        @if (Model.ValidPage) {
            <paging class="mt-3"
                    page-no="@Model.PageIndex"
                    page-size="@Model.PageLimit"
                    page-size-dropdown-items="5-10-15"
                    query-string-key-page-no="p"
                    query-string-key-page-size="limit"
                    show-page-size-nav="false"
                    show-total-pages="false"
                    show-total-records="false"
                    text-first="صفحه اول"
                    text-last="صفحه آخر"
                    text-previous="قبلی"
                    text-next="بعدی"
                    total-records="@Model.TotalItems">
            </paging>
        }
        else {
            <div class="mt-3 text-center">
                <p class="text-danger" style="font-size: 1.1rem">چنین صفحه‌ای وجود ندارد.</p>
                <a asp-page="./Index" class="btn btn-primary">صفحه اول</a>
            </div>
        }
    </div>
</div>